body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
    text-align: center;
    padding: 50px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color:whitesmoke;
    font-size: 70px;
}

p {
    color: aliceblue;
    font-size: xx-large
}

.search-panel {
    margin: 30px 0;
}

.search-panel input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.search-panel button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: dimgrey;
    color: white;
    padding: 20px;
    margin-top: 50px auto;
    font-size: 14px;
}

footer p {
    margin: 5px 0;
}


