<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style_results.css') }}">
</head>
<body>

    <header>
        <h1>{{ title }}</h1>
    </header>

    <div class="container">

        <input type="text" id="quickSearch" placeholder="🔍 Buscar fármaco por nombre entre los {{ filas|length }} resultados...">

        <div class="drugs-list-container" id="drugList">
            {% for fila in filas %}
                {# Usamos el nombre de la columna 'drug_name' #}
                <a href="/drugs/{{ fila['drug_name'] }}" class="drug-item">
                     {{ fila['drug_name'] }}
                </a>
            {% endfor %}
        </div>

        {% if not filas %}
            <p>No se encontraron fármacos en la base de datos.</p>
        {% endif %}

    </div>


    <script>
        $(document).ready(function() {
            $('#quickSearch').on('keyup', function() {
                var value = $(this).val().toLowerCase();
                $("#drugList a").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>
</html>