<!DOCTYPE html>
<html>
    <head>
        <title>
            PharmAllele
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Welcome to PharmAllele!</h1>
        <form class="search-panel">
            <input type="text" placeholder="Search gene, drug, variant" name = "query">
            <button type="submit">Search</button>
        </form>
        <p>Coming soon...</p>

        <footer>
            <p><strong>PharmAllele</strong></p>
            <p>Contact: pharmallele@gmail.com</p>
            <p>
                <a> About</a>
                <a> Privacy policy</a>
            </p>
            <p>© 2026 PharmAllele. All rights reserved.</p>
        </footer>
    </body>
</html>