<!DOCTYPE html>
<html>
<head>
    <title>Variant List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="top-nav">
            <a href="javascript:history.back()" class="back-link">← Back</a>
            <a href="/" class="logo-nav">PharmAllele</a>
        </div>
        
        <header><h1>Pharmacogenetic Variants</h1></header>
        
            <input type="text" id="quickSearch" placeholder="🔍 Search variant by name (rsID)...">
            
            <div class="drugs-list-container" id="variantList">
                {% for fila in filas %}
                    <a href="/variants/{{ fila['variant_name'] }}" class="drug-item">{{ fila['variant_name'] }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#quickSearch').on('keyup', function() {
                var value = $(this).val().toLowerCase();
                $("#variantList a").filter(function() { 
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1) 
                });
            });
        });
    </script>
</body>
</html>