<!DOCTYPE html>
<html>
<head>
    <title>Details: {{ droga.drug_name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Fraunces:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <header><h1>Drug Details: {{ droga.drug_name }}</h1></header>
    <div class="container">
        <div class="info-box">
            <h2>More Information</h2>
            <p>Check molecular data and more on external sources:</p><br>
            <a href="https://pubchem.ncbi.nlm.nih.gov/#query={{ droga.drug_name }}" target="_blank" class="badge">View on PubChem 🔗</a>
        </div>
        <h2>Associated Genetic Variants</h2>
        <table id="table-variants">
            <thead><tr><th>Variant Name</th><th>Gene</th></tr></thead>
            <tbody>
                {% for v in variantes %}
                <tr><td><span class="variant">{{ v.variant_name }}</span></td><td>{{ v.gene_gene_name }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>$(document).ready(function(){ $('#table-variants').DataTable(); });</script>
</body>
</html>